<header>
  <h1>Programming Project Templater & Tracker</h1>
  <nav class="content-wrap">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/#new-project">Form</a></li>
      <li><a href="/#open-projects">Projects</a></li>
    </ul>
  </nav>
</header>
