<header>
  <h1>Programming Project Templater & Tracker</h1>
  <nav class="content-wrap">
    <ul>
      <li><a href="/" class ="nav-style">{Home}</a></li>
      <li><a href="/form" class ="nav-style">{Form}</a></li>
      <li><a href="/#open-projects" class ="nav-style">{Projects}</a></li>
      <li><a href="/about" class ="nav-style">{About Us}</a></li>
    </ul>
  </nav>
</header>
