<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <%- include ../partials/nav %>
    <main class="content-wrap">
      <div class="wrapper">
        <p class="about-name">{Candice}</p>
        <img src="/images/Candice.png" alt="Candice" class="about-images hover">
        <p class="about-title">Full-Stack Developer</p>
        <section id="connect">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/cndcthms/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/2000px-Linkedin.svg.png"
                  class="connect-links" alt="Candice Linkedin Profile">
              </a>
            </li>
            <li>
              <a href="https://github.com/canned-ice" class="connect-links" target="_blank"><img src="http://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png"
                  class="connect-links" alt="Candice Github Profile"></a>
            </li>
          </ul>
        </section>
        <p class="all-about-me">Candice doesn’t get out much, so she lives a life full of memes and absurdity. She hails from Zillow Group and intends to return after finishing at Code Fellows as a Software Developer.</p>
      </div>
      <div class="wrapper">
        <p class="about-name">{Diego}</p>
        <img src="/images/Diego.png" alt="Diego" class="about-images hover">
        <p class="about-title">Full-Stack Developer</p>
        <section id="connect">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/diego-ramos-130/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/2000px-Linkedin.svg.png"
                  class="connect-links" alt="Diego Linkedin Profile">
              </a>
            </li>
            <li>
              <a href="https://github.com/diego-ramos130" class="connect-links" target="_blank"><img src="http://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png"
                  class="connect-links" alt="Diego Github Profile"></a>
            </li>
          </ul>
        </section>
        <p class="all-about-me">Diego’s ultimate favorite hobby consists of slaying every video game that he encounters, especially VSRGs
        (Vertically Scrolling Rhythm Games) a.k.a. Tetris.</p>
      </div>
      <div class="wrapper">
        <p class="about-name">{Heather}</p>
        <img src="/images/Heather.png" alt="Heather" class="about-images hover">
        <p class="about-title">Full-Stack Developer</p>
        <section id="connect">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/heather-palmer-887a9431/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/2000px-Linkedin.svg.png" class="connect-links" alt="Heather Linkedin Profile">
              </a>
            </li>
            <li>
              <a href="https://github.com/OGHP" class="connect-links" target="_blank"><img src="http://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" class="connect-links"
                alt="Heather Github Profile"></a>
            </li>
          </ul>
        </section>
        <p class="all-about-me">Heather flipped her career upside down when she decided to tuck away a life of customer service work to become a software engineer. Fun fact: this pic is from Grace Hopper 2017!</p>
      </div>
      <div class="wrapper">
        <p class="about-name">{Vince}</p>
        <img src="/images/Vince.png" alt="Vince" class="about-images hover">
        <p class="about-title">Full-Stack Developer</p>
        <section id="connect">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/vmasten/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/2000px-Linkedin.svg.png"
                  class="connect-links" alt="Vince Linkedin Profile">
              </a>
            </li>
            <li>
              <a href="https://github.com/vmasten" class="connect-links" target="_blank"><img src="http://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png"
                  class="connect-links" alt="Vince Github Profile"></a>
            </li>
          </ul>
        </section>
        <p class="all-about-me">Vince is studying at Code Fellows to become a Software Engineer, but before that took over his life, he also enjoyed
        hanging out with his wife, dog, and cat, going to shows, wrangling his many nieces and nephews, and playing video games.</p>
      </div>
    </main>
    <%- include ../partials/footer %>
  </body>
</html>

