<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    <main class="content-wrap">
      <div>
        <p>{Meet Candice}</p>
        <img src="../../public/images/Candice.png" alt="Candice" height="200" width="200">
      </div>
      <div>
        <p>{Meet Diego}</p>
        <img src="../../public/images/Diego.png" alt="Diego" height="200" width="200">
      </div>
      <div>
        <p>{Meet Heather}</p>
        <img src="../../public/images/Heather.png" alt="Heather" height="200" width="200">
      </div>
      <div>
        <p>{Meet Vince}</p>
        <img src="../../public/images/Vince.png" alt="Vince" height="200" width="200">
      </div>
    </main>
    <%- include ../partials/footer %>
  </body>
</html>
