<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    <main class="content-wrap">
      <div>
        <img src="https://via.placeholder.com/250x250" alt="Candice">
        <p>{Meet Candice!}</p>
      </div>
      <div>
        <img src="https://via.placeholder.com/250x250" alt="Candice">
        <p>{Meet Diego!}</p>
      </div>
      <div>
        <img src="https://via.placeholder.com/250x250" alt="Candice">
        <p>{Meet Heather!}</p>
      </div>
      <div>
        <img src="https://via.placeholder.com/250x250" alt="Candice">
        <p>{Meet Vince!}</p>
      </div>
    </main>
    <%- include ../partials/footer %>
  </body>
</html>
