<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    <main class="content-wrap">
      <div class="wrapper">
        <p class="about-name">{Candice}</p>
        <img src="/images/Candice.png" alt="Candice" class="about-images hover">
        <p class="text">Stare at wall turn and meow stare at wall some more meow again continue staring have secret plans. Stand in doorway, unwilling to chose whether to stay in or go out intently sniff hand this cat happen now, it was too purr-fect!!! for cry louder at reflection nap all day.</p>
      </div>
      <div class="wrapper">
        <p class="about-name">{Diego}</p>
        <img src="/images/Diego.png" alt="Diego" class="about-images hover">
        <p class="text">Cat slap dog in face decide to want nothing to do with my owner today, lick yarn hanging out of own butt freak human out make funny noise mow mow mow mow mow mow success now attack human.</p>
      </div>
      <div class="wrapper">
        <p class="about-name">{Heather}</p>
        <img src="/images/Heather.png" alt="Heather" class="about-images hover">
        <p class="text">Meow go back to sleep owner brings food and water tries to pet on head, so scratch get sprayed by water because bad cat jumps off balcony gives owner dead mouse at present then poops in litter box snatches yarn and fights with dog.</p>
      </div>
      <div class="wrapper">
        <p class="about-name">{Vince}</p>
        <img src="/images/Vince.png" alt="Vince" class="about-images hover">
        <p class="text">Bleghbleghvomit my furball really tie the room together cough for flop over kitty poochy eat all the power cords. Make plans to dominate world and then take a nap cough furball. Rub face on everything poop in the plant pot howl uncontrollably for no reason</p>
      </div>
    </main>
    <%- include ../partials/footer %>
  </body>
</html>

