<html>
<head>
  <%- include ../partials/head %>
</head>
<body>
  <header>
    <%- include ../partials/nav %>
  </header>
  <main>
    <button>Stand Up!</button>
      <div>
        <p>Project issues: <a href="<%= latestIssue.html_url %>"><%= latestIssue.html_url %></a></p>
      </div>
      <div>
        <p>Project commits:</p>
      </div>
      <div>
        <p>Project checklist:</p>
      </div>
      <div>
        <p>Upcoming meetings:</p>
      </div>
      <button>PDF CREATOR!</button>
  </main>
  <footer>
    insert footer partial here
  </footer>
</body>

</html>
