<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    <main>
      <button>Stand Up!</button>
        <div>
          <p>Project issues:</p>
        </div>
        <div>
          <p>Project commits:</p>
        </div>
        <div>
          <p>Project checklist:</p>
        </div>
        <div>
          <p>Upcoming meetings:</p>
        </div>
        <button>PDF CREATOR!</button>
    </main>
    <%- include ../partials/footer %>
  </body>
</html>
