<html>
<head>
  <%- include ../partials/head %>
</head>
<body>
    <%- include ../partials/nav %>
  <main>
    <button>Stand Up!</button>
      <div>
        <p>Project issues: </p>
        <% latestIssue.forEach(issue => { %>
          <p><a href='<%=issue.html_url %>'><%=issue.html_url %></a></p>
        <%}) %>
        
      </div>
      <div>
        <p>Project commits:</p>
      </div>
      <div>
        <p>Project checklist:</p>
      </div>
      <div>
        <p>Upcoming meetings:</p>
      </div>
      <button>PDF CREATOR!</button>
  </main>
  <footer>
    insert footer partial here
  </footer>
</body>

</html>
