<html>

<head>
  <%- include ../partials/head %>
</head>

<body>
  <h1>Welcome message here!</h1>
  <h3>How to set up a project information here!</h3>
  <form>
    <label for="projectname">Project Name</label>
    <input type="text" id="projectname" placeholder="Project Name" autofocus>

    <label for="collaborators">Collaborators</label>
    <input type="text" id="collaborators" placeholder="Collaborators">

    <label for="instructorname">Instructor Name</label>
    <input type="text" id="instructorname" placeholder="Instructor Name">

    <label for="startdate">Enter your project start date:</label>
    <input type="date" id="startdate" name="startdate">

    <label for="duedate">Enter your project due date:</label>
    <input type="date" id="duedate" name="duedate">

    <label for="githubrepo">Github Repo</label>
    <input type="githubrepo" id="githubrepo" placeholder="Github Repo">

    <input type="submit">
  </form>
</body>
</html>
