<html>

<head>
  <%- include ../partials/head %>
</head>

<body>
  <h1>Welcome message here!</h1>
  <h3>How to set up a project information here!</h3>
  <form>
    <div>
      <label for="project-name">Project Name</label>
      <input type="text" id="project-name" placeholder="Project Name" autofocus>
    </div>
    <div>
      <label for="collaborators">Collaborators</label>
      <input type="text" id="collaborators" placeholder="Collaborators">
    </div>
    <div>
      <label for="instructor-name">Instructor Name</label>
      <input type="text" id="instructor-name" placeholder="Instructor Name">
    </div>
    <div>
      <label for="start-date">Enter your project start date:</label>
      <input type="date" id="start-date" name="start-date">
    </div>
    <div>
      <label for="due-date">Enter your project due date:</label>
      <input type="date" id="due-date" name="due-date">
    </div>
    <div>
      <label for="github-repo">Github Repo</label>
      <input type="github-repo" id="github-repo" placeholder="Github Repo">
    </div>
    <input type="submit">
  </form>
</body>
</html>
