<html>
<head>

  <%- include ../partials/head %>

</head>
<body>

  <%- include ../partials/nav %>

  <main class="content-wrap">
    <h3>Get started by entering your project details here..</h3>
    <div id="form-card">
      <form method="POST" action="/form/complete" class="card form-styles">
        <div class="form-input">
          <label for="project-name">Project Name:</label>
          <input type="text" id="project_name" name="project_name" placeholder="Project Name..." autofocus>
        </div>
        <div class="form-input">
          <label for="collaborators">Collaborators:</label>
          <input type="text" id="collaborators" name="collaborators" placeholder="Collaborators, separated by commas...">
        </div>
        <div class="form-input">
          <label for="instructor-name">Description:</label>
          <input type="text" id="description" name="description" placeholder="Project description...">
        </div>
        <div class="form-input">
          <label for="start-date">Your project start date:</label>
          <input type="date" name="start_date">
        </div>
        <div class="form-input">
          <label for="due-date">Your project due date:</label>
          <input type="date" name="due_date">
        </div>
        <div class="form-input">
          <label for="github-repo">Github Repo:</label>
          <input type="github-repo" name="github_repo" placeholder="Github Repo.." required>
        </div>
        <button>Add Project!</button>
      </form>
    </div>
  </main>
    <%- include ../partials/footer %>
</body>
</html>
