<html>

<head>
  <!-- <%- include ../partials/head %> -->
  <title>p2t2</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/base.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/layout.css" />
</head>
<body>
  <header>
    <h1>Welcome message here!</h1>
    <h3>How to set up a project information here!</h3>
  </header>
  <main class="content-wrap">
    <div id="form-card">
      <form method="POST" action="/form/complete" class="card form-styles">
        <div class="">
          <label for="project-name">Project Name</label>
          <input type="text" id="project_name" name="project_name" placeholder="Project Name.." autofocus>
        </div>
        <div>
          <label for="collaborators">Collaborators</label>
          <input type="text" id="collaborators" name="collaborators" placeholder="Collaborators..">
        </div>
        <div>
          <label for="instructor-name">Instructor Name</label>
          <input type="text" id="instructor_name" placeholder="Instructor Name..">
        </div>
        <div>
          <label for="start-date">Enter your project start date:</label>
          <input type="date" id="start_date" name="start_date">
        </div>
        <div>
          <label for="due-date">Enter your project due date:</label>
          <input type="date" id="due_date" name="due_date">
        </div>
        <div>
          <label for="github-repo">Github Repo</label>
          <input type="github-repo" name="github_repo" placeholder="Github Repo..">
        </div>
        <button>Add Project!</button>
      </form>
    </div>
  </main>
  <footer>
    insert footer partial here
  </footer>
</body>
</html>
