<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    DAMN I LOVE A GOOD T+PAZOLITE TRACK 
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include ../partials/scripts %>
  
</head>
<body>
  <p>YEET</p>
  
</body>
</html>