<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    DAMN I LOVE A GOOD T+PAZOLITE TRACK 
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <%- include ../partials/scripts %>
  <script>
    $(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
          defaultView: 'basicWeek',
          header: {
            left:'title' ,
            center:'',
            right:'basicWeek,month prev,next'
          },
          events: [
            {
              title: 'lemme see if this works',
              start: '2018/09/05',
              end: '2018/09/07'
            }
          ]
        })

      });
  </script>
</head>
<body>
  <p>YEET</p>
  <div id='calendar'></div>
  <div id='add-sum-stuff'>
    <form action="/hitmydbboi" >
      <input type='text'>
      <input type=
    </form>
  </div>
</body>
</html>