* {
  background-color: rgb(141, 124, 166);
  color: rgb(34, 19, 55);
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
  color: rgb(205, 213, 298);
}
h2 {
  font-size: 3em;
  padding: 20px;
  display: block;
}
h3 {
  font-size: 2em;
  color: rgb(205, 213, 298);
  padding: 10px;
}
header > * {
  background-color: rgb(85, 52, 123);
  padding: 20px 0;
}

.content-wrap {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  width: 99%;
  background-color: rgb(3, 169, 209);
  margin: 15px 0;
}
.card > * {
  background-color: rgb(3, 169, 209);
  width: 99%;
}

#open-projects {
  width: 100%;
  min-height: 100px;
}

#new-project {
  width: 100%;
  position: relative;
  height: 150px;
  display: block;
  background-color: rgb(183, 31, 150);
  margin: 30px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#new-project > * {
  background-color: rgb(183, 31, 150);
  border-radius: 3px;
}

.new-button {
  width: 200px;
  height: 50px;
  background-color: rgb(34, 19, 55) !important;
  position: absolute;
  bottom: 25px;
  left: 23%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}