* {
  background-color: rgb(141, 124, 166);
  color: rgb(34, 19, 55);
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
  color: rgb(205, 213, 298);
  border-radius: 0px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  margin: 0;
}

h2 {
  font-size: 3em;
  display: block;
  text-shadow: 2px 2px rgba(85, 52, 123, .5);
}

h3 {
  font-size: 2em;
  color: rgb(205, 213, 298);
  text-shadow: 2px 2px 10px rgb(85, 52, 123);
  padding-top: 20px;
}

header {
  width: 100%;
  top: 0;
}

header > * {
  background-color: rgb(85, 52, 123);
}

nav {
  width: 375px;
  background-color: transparent;
  visibility: hidden;
  height: 50px;
  padding-top: 20px;
}

header:hover nav {
  visibility: visible;
}

nav > ul {
  width: 100%;
  margin: 0;
  display: block;
  list-style: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  margin: 0 2%;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

label {
  font-weight: lighter;
  color: rgb(34, 19, 55);
}

input {
  height: 30px;
  border: 2px solid rgba(85, 52, 123, .5);
  caret-color: rgb(183, 31, 150);
  padding: 5px;
}

.content-wrap {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 275px;
  width: 99%;
  background-color: rgb(3, 169, 209);
  margin: 20px 0 15px 0;
  position: relative;
}

.card > * {
  background-color: rgb(3, 169, 209);
  width: 99%;
}

.card > img {
  border-radius: 1px;
}

.collab {
  font-style: italic;
  font-size: .75em;
  margin: 8px 0;
}

.desc {
  text-align: justify;
  padding: 0 10px;
  margin: 10% 0;
}

.project-link {
  width: 200px;
  height: 50px;
  background-color: rgb(34, 19, 55);
  position: absolute;
  bottom: 25px;
  left: 23%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.project-link > a {
  display: block;
  margin: 17px 0;
  background-color: transparent;
  color: rgb(205, 213, 298);
  letter-spacing: 2px;
  height: 15px;
}

.project-link:hover {
  background-color: rgb(183, 31, 150);
}

#open-projects {
  width: 100%;
}

#open-projects > h2 {
  margin-bottom: 10px;
}

#new-project {
  width: 100%;
  position: relative;
  height: 150px;
  display: block;
  background-color: rgb(183, 31, 150);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
}

#new-project > h2 {
  background-color: rgb(183, 31, 150);
  padding: 20px;
  margin: 0;
}

.new-button {
  width: 200px;
  height: 50px;
  background-color: rgb(34, 19, 55);
  position: absolute;
  bottom: 20px;
  left: 23%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.new-button > a {
  display: block;
  margin: 17px 0;
  background-color: transparent;
  color: rgb(205, 213, 298);
  letter-spacing: 2px;
}
.new-button:hover {
  background-color: rgb(3, 169, 209);
}

/******* FORM STYLES *******/
#form-card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form-card * {
  background-color: rgb(3, 169, 209);
}

button {
  background-image: -webkit-linear-gradient(top, rgb(183, 31, 150), rgb(85, 52, 123));
  background-image: -moz-linear-gradient(top, rgb(183, 31, 150), rgb(85, 52, 123));
  background-image: linear-gradient(to bottom, rgb(183, 31, 150), rgb(85, 52, 123));
  height: 50px;
  width: 75% !important;
}
button:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}

.form-styles {
  padding: 20px;
  width: 100%;
}

/******* FOOTER STYLES *******/
footer {
  background-color: rgb(85, 52, 123);
  border-radius: 0;
  bottom: 0;
  color: rgb(205, 213, 298);
  height: 2em;
  left: 0;
  padding: .5em;
  position: fixed;
  text-align: center;
  width: 100%;
}
