/****** FORM STYLES ***** */
form > div {
  margin-top: .5em;
  width: 50%;
}

div > input {
  font-size: small;
  height: 2em;
}

form > div > input {
  width: 100%;
}

form > button {
  margin-top: 1em;
}

button {
  background-color: black;
  border-radius: 3px;
  color: white;
  padding: 5px 20px;
  transition: 350ms all;
}

button:hover {
  background-color: rgb(183, 31, 150);
}

.form-styles {
  padding: 20px;
  width: 100%;
}

label {
  font-weight: bold;
}

#form-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

#form-card * {
  background-color:ghostwhite;
}

button {
  background-image: linear-gradient(to bottom, rgb(183, 31, 150), rgb(85, 52, 123));
  background-image: -moz-linear-gradient(top, rgb(183, 31, 150), rgb(85, 52, 123));
  background-image: -webkit-linear-gradient(top, rgb(183, 31, 150), rgb(85, 52, 123));
  height: 50px;
  width: 75% !important;
}
button:hover {
  background: #2079b0;
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
}

/****** ABOUT US ******/
.about-images {
  height: 200px;
  width: 200px;
}

.about-name {
  background-color: rgb(3, 169, 209);
  display: inline-block;
  font-size: 1.25em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .1em;
  transform: rotate(-180deg);
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

.about-title {
  background-color: rgb(3, 169, 209);
  font-size: 1em;
  font-variant: small-caps;
  font-weight: 400;
  padding: .5em 0;
}

.all-about-me {
  background-color: rgb(3, 169, 209);
  font-variant: small-caps;
  padding: 1em;
}

section > ul {
  background-color: rgb(3, 169, 209);
  /* margin-bottom: 1em; */
}

section > ul > li {
  background-color: rgb(3, 169, 209);
  display: inline-block;
}

section > ul > li > a {
  background-color: rgb(3, 169, 209);
}

.connect-links {
  background-color: rgb(3, 169, 209);
  height: 1.5em;
  width: 1.5em;
}

.wrapper {
  background-color: rgb(3, 169, 209);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:50%;
  margin-bottom: 2em;
  padding-top: .5em;
  width: 90%;
}

/******** TIMER **********/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
font-size: 40px;
color: white;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
line-height: 1.5em;
}

.timer {
text-align: left;
list-style-type: disc;
list-style-position: inside;
}

.timer-ul {
padding-left: 30px;
}